
*{
  padding: 0;
  margin: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;

.red{
  color: red;
  font-weight: bolder;
  }
.green{
  font-weight: bolder;
  color: green;
}
.card{
  height: 8vh;
  width: 96%;
  margin-bottom: 1px;
  border-radius: 5px;

  background-color: hwb(0 95% 5%);
}
.logo{
  position: relative;
  height: 80%;
  width: 12%;
  /* border: 2px solid black; */
  border-radius: 50%;

  margin: auto;


}
.character{
  margin: auto;
  font-size: xx-large;
  font-weight: bolder;
}
.mid{
  width:40%;
}

.name{
  font-weight: bolder;
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 5px;
}
.category{
  font-style: italic;
  margin-bottom: 3px;
  font-size: small;
}
.price{
  padding: 5px;
  width: 35%;
  align-items: center;
  justify-content: center;
  
}
.flex-row{
  display: flex;

  
}
.delete-icon{
  margin: auto;
  cursor: pointer;
}


.summary2{
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

}
.main{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.container2 {
  position: relative;
  width: 35vw;
  height: 85vh;
  margin: 30px ; 
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  
}
.list2{
  height: 86%;
  overflow-y: scroll;
}

  
.list{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  
  
}



.container1 {
  width: 25vw;
  height: 60vh;
  margin: 50px ;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  
}

.container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex label {
  margin-bottom: 8px;
}

.flex input[type="text"],
.flex input[type="number"],
.flex select {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  font-size: 16px;
}


.flex input[type="submit"] {
  background-color: #007bff;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  
}

.summary-table {
  border-collapse: collapse;
  width: 100%;
}

.summary-table td, .summary-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.summary-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.summary-table tr:hover {
  background-color: #ddd;
}


.outer{
  display: flex;
  justify-content: center;
  align-items: center;

}
.inner{
  border-radius: 50%;
  width: 42%;
  aspect-ratio: 1;
  background-color: white;

 
}



